
.account-background {
    border-radius: 1em;
    background-color: var(--fg-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.account {
    display: inline-block;
    margin: 3em 2em 1em;
}

.account-card {
    display: flex;
    flex-direction: row;
    border-radius: 0.5em;
    border: solid 2px var(--fg-color);
    background: var(--fg-highlight);
    color: var(--bg-color);
    padding: 0.5em 1em;
}

.account-info {
    padding-left: 1em;
}

.account-info div {
    margin: 0.25em 0;
}

.account-avatar img {
    height: 64px;
    width: 64px;
    border-radius: 8px;
}

.account-name {
    font-weight: bold;
}

.account-acct a:link {
    color: var(--bg-color);
    font-style: normal;
    font-weight: lighter;
}

.account-acct a:visited {
    color: var(--bg-color);
}

.account-acct a:hover {
    color: var(--bg-highlight);
}

.account-acct a:active {
    color: var(--bg-highlight);
}

.account-edit {
    padding: 0.25em;
    font-size: small;
}

.account-edit a:link {
    color: var(--bg-color);
}

.account-edit a:visited {
    color: var(--bg-color);
}

.account-edit a:hover {
    color: var(--bg-highlight);
}

.account-edit a:active {
    color: var(--bg-highlight);
}