
.post-controls {
    font-family: system-ui;

    --control-height: 32px;
    --disabled-mask: linear-gradient(rgb(0 0 0 / 100%) 50%, transparent);
}

.post-controls-mobile {
    display: flex;
}

.post-controls-desktop {
    display: flex;
    flex-direction: row;
}

.control-label:hover {
    border: solid 1px var(--bg-color);
}

.post-controls-desktop .search-controls {
    margin-top: 0;
    margin-bottom: 0.5em;
    padding: 0.125em 0;
    border-radius: 0.5em;
}

/* button shared */
.sort-button,
.toggle-button,
.filter-button {
    height: var(--control-height);
    padding: 0.5em 1em;
    text-align: left;
    font-size: smaller;
    font-weight: normal;
}

.toggle-button {
    color: var(--bg-color);
    background-color: var(--fg-color);
    border: solid 1px var(--bg-color);
    font-weight: bold;
}

.sort-button {
    color: var(--fg-color);
    mask-image: var(--disabled-mask);
    mask-clip: margin-box;
    border: solid 1px var(--fg-color);
}

.filter-button {
    mask-image: var(--disabled-mask);
}

.filter-button.selected,
.sort-button.selected {
    border: solid 1px var(--bg-highlight);
    background-color: var(--bg-color);
    mask-image: revert;
}

/* Search  */
.search-input {
    height: var(--control-height);
}

.server-proto {
    color: var(--fg-highlight);
}

.server-label {
    font-weight: bold;
}