
.loading-container {
    display: flex;
}

.loading {
    margin: auto;
    margin-top: 1em;
    font-size: large;
    padding: 5em;
    background-color: var(--fg-color);
    color: var(--bg-color);
    border-radius: 1em;
    border: solid 1px var(--fg-color);
}