
.login-container {
    display: flex;
    justify-content: center;
    line-height: normal;
    background-color: var(--fg-highlight);
    margin: 0;
    padding: 0;
}

.login {
    display: inline-block;
    max-width: 500px;
    min-width: 275;
    padding: 1em 1.5em;
    margin: 1em 3em;
    background-color: var(--bg-color);
    border-radius: 1em;
}

.login-info > * + * {
    margin-top: 1em;
}

.login-form-container {
    display: flex;
    justify-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 240px;
    margin-top: 1em;
    padding: 1em;
    border: solid 2px var(--fg-highlight);
    border-radius: 16px;
}

.login-form button {
    background-color: var(--bg-highlight);
    border: solid 1px var(--fg-color);
    text-align: center;
}

