
.post-row {
    display: flex;
    padding-bottom: 0.5em;
    margin-top: 1em;
}

.post-body {
    display: flex;
    max-height: 96px;
    overflow: hidden;
    margin-left: 0.5em;
}

.post-deets {
    min-width: 4em;
    width: 4em;
    padding: 0.125em 0.5em;
}

.post-stat {
    margin-top: 0.5em;
    text-align: center;
    border-radius: 1em;
}

.post-stat.selected {
    font-weight: bold;
}

.post-date {
    font-size: smaller;
    padding-bottom: 0.125em;
}

.post-date a:link {
    font-style: italic;
    color: var(--bg-highlight);
}

.post-date a:visited {
    color: var(--fg-highlight);
}

.post-media {
    margin-right: 0.5em;

/*    overflow: hidde; */
}

.post-media img {
    object-fit: cover;
}

.post-html {
    height: 96px;
    overflow: clip;
    line-height: normal;

/*    background: linear-gradient(0deg, transparent, black); */
    mask-image: linear-gradient(rgb(0 0 0 / 100%) 75%, transparent);
}
