/*

dark: background: #233142;
lighter: background: #455d7a;
redish: background: #f95959;
whitish: background: #e3e3e3;
*/

:root {
  --bg-color: #f3f3f3;
  --bg-highlight: #f95959;
  --fg-color: #233142;
  --fg-highlight: #455d7a;
  --color1: #adf7d1;
  --color2: #95e8d7;
  --color3: #7dace4;
  --color4: ##8971d0;
}

html {
  font-family: helvetica, arial, sans-serif;
  font-size: 15px;
}

body {
  background-color: var(--fg-highlight);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

body h3 {
  font-size: 140%;
  font-weight: bold;
  text-align: center;
}

a {
  font-style: italic;
}

a:link {
  color: var(--fg-highlight);
}

a:hover {
  color: var(--bg-highlight);
}

a:visited {
  color: var(--fg-highlight);
}

a:active {
  color: var(--bg-highlight);
}

button {
  padding: 0.125em 0.25em;
  margin: 0.5em 0.25em;
  text-align: left;
}

input {
  appearance: none;
  margin: 6px; /* this seems to match button margins */
  padding: 2px 8px;
  border: solid 1px var(--fg-color);
  border-radius: 0.5em;
  font-size: 12px;
}

input:focus {
  border: solid 1px var(--bg-highlight);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 95vw;
  max-width: 100vw;
  margin-top: 1em;
  background: var(--fg-hightlight);
  border-radius: 1em;
}

@media (width >= 480px) {
  .mobile {
    display: none;
  }
}

@media (width <= 480px) {
  .desktop {
    display: none;
  }
}

/* .desktop {
  display: none;
} */

/* .mobile {
  display: none;
} */